# ========================
# Virtual Environments
# ========================
venv/
.venv/
env/
.env/
ENV/
# ========================
# Python Caches & Bytecode
# ========================
__pycache__/
*.py[cod]
*$py.class
*.so
# PyInstaller build artifacts
build/
dist/
*.spec
_MEI*